



.footer {
    background: #5B5B5B;
    width: 100%;
    height: 200px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    
    @media (max-width: 1080px) {
        flex-direction: column;
    }

    .sideBoxOne {
        text-align: center;
        color: #D8D8D8;
        letter-spacing: 1px;

        @media (max-width: 1080px) {
            display: flex;
            flex-direction: column-reverse;
        }
    
        .title {
            font-size: 20px;
            font-weight: 700;

            @media (max-width: 1080px) {
                font-size: 12px;
            }
        }
        .subtitle {
            font-size: 15px;
            font-weight: 400;
            margin-left: 5px;

            @media (max-width: 1080px) {
                font-size: 10px;
            }
        }
    
        .link {
            color: #D8D8D8;
            font-size: 15px;
            font-weight: 400;

            @media (max-width: 1080px) {
                font-size: 10px;
            }
        }     
    }


    .sideBoxTwo {
        text-align: center;

        color: #D8D8D8;
        letter-spacing: 1px;

        @media (max-width: 1080px) {
            display: flex;
            flex-direction: column;
        }
    
        .title {
            font-size: 20px;
            font-weight: 700;

            @media (max-width: 1080px) {
                font-size: 12px;
            }
        }
        .subtitle {
            font-size: 15px;
            font-weight: 400;
            margin-left: 5px;

            @media (max-width: 1080px) {
                font-size: 10px;
            }
        }
    
        .link {
            color: #D8D8D8;
            font-size: 15px;
            font-weight: 400;

            @media (max-width: 1080px) {
                font-size: 10px;
            }
        }     
    }
    .logoBox {
        display: flex;
        align-items: center;
        justify-content: space-around;

        .logo {
            @media (max-width: 1080px) {
                width: 180px;
                height: 100px;
            }
        }
    }
}