



.container {
  background: #f5f5f5;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  .cta {
    @media (min-width: 1320px) {
      width: 1280px;
    }

    margin: 175px 10px 50px 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 1320px) {
      width: 90%;
    }

    @media (max-width: 600px) {
      align-items: center;
    }

    .ctaTitle {
      margin-bottom: 20px;

      border-bottom: solid 4px #d9d9d9;

      color: #004d9688;
      font-size: 50px;
      font-weight: 700;
      text-align: center;

      @media (max-width: 1320px) {
        font-size: 40px;
      }
    }

    .ctaText {
      margin: 20px 0 0 0;

      color: #000;
      font-size: 20px;
      text-indent: 5px;
    }

    .ctaButton {
      background: #004d968a;
      width: 220px;
      height: 50px;
      margin: 25px 0 0 0;

      border: none;
      border-radius: 5px;

      color: #ffffff;
      font-size: 23px;
      font-weight: 700;
      &:hover {
        background: #004d96;

        color: #d8d8d8;
        cursor: pointer;
      }
    }
  }

  /* WHAT WE DO -- ABOUT */

  .about {
    background: #ededed;
    margin-bottom: 50px;
    padding: 20px;

    @media (min-width: 1320px) {
      width: 1280px;

      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }

    @media (max-width: 1320px) {
      width: 90%;

      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }

    .aboutTitle {
      width: 100%;
      margin-top: 50px;

      border-bottom: solid 4px #a9a9a9;

      color: #474747;
      font-size: 50px;
      font-weight: 700;
      text-align: left;

      @media (min-width: 1320px) {
        align-self: center;
        margin-top: 0;
      }
    }

    .aboutList {
      margin: 0;
    }

    .aboutListItem {
      margin-bottom: 15px;

      font-size: 22px;
      letter-spacing: 1px;
    }
}

  /* Pictures */

  .pictures {
    background: #004d969c;
    height: 400px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    @media (min-width: 1080px) {
      width: 1280px;
    }

    @media (max-width: 1320px) {
      width: 90%;
      height: 700px;

      flex-direction: column;
    }

    @media (max-width: 700px) {
      height: 520px;
    }

    overflow: hidden;

    .picture {
      width: 600px;

      @media (max-width: 700px) {
        width: 350px;
        height: 197px;
      }

      display: flex;
      justify-content: center;

      .imageSize {
        width: 100%;
        height: 100%;

        border-radius: 10px;

        &:hover {
          opacity: 0.8;

          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
          transform: scale(1.02);
          transition: transform 0.5s ease;
        }
      } 
    }
}

  /* CONTACT */

  .contact {
    margin-bottom: 120px;

    .contactTitle {
      height: 200px;

      border-bottom: solid 4px #a9a9a9;

      display: flex;
      justify-content: center;
      align-items: flex-end;

      color: #474747;
      font-size: 50px;
      font-weight: 700;
    }

    .contactForm {
      background: #ededed;
      width: 600px;
      padding-bottom: 10px;

      display: flex;
      flex-direction: column;
      align-items: center;

      @media (max-width: 700px) {
        width: 375px;
      }

      .contactInput {
        background: #e3e3e3;
        width: 450px;
        height: 50px;
        margin-top: 20px;
        padding-left: 30px;

        border: none;
        border-radius: 25px;
        outline: none;

        font-size: 18px;

        @media (max-width: 700px) {
          width: 300px;
        }
      }

      .contactInputError {
        background: #e3e3e3;
        width: 450px;
        height: 50px;
        margin-top: 20px;
        padding-left: 30px;

        border: solid 2px rgb(255, 14, 14);
        border-radius: 25px;
        outline: none;

        font-size: 18px;

        @media (max-width: 700px) {
          width: 300px;
        }
      }

      .contactInput:focus {
        background: #d6d6d6;

        border-radius: 0;
      }

      .contactTextarea {
        background: #e3e3e3;
        width: 450px;
        height: 140px;
        margin-top: 20px;
        padding-left: 30px;
        padding-top: 10px;

        border: none;
        border-radius: 15px;
        outline: none;
        resize: none;

        font-size: 18px;

        @media (max-width: 700px) {
          width: 300px;
        }
      }

      .contactTextareaError {
        background: #e3e3e3;
        width: 450px;
        height: 140px;
        margin-top: 20px;
        padding-left: 30px;
        padding-top: 10px;

        border: solid 2px rgb(255, 14, 14);
        border-radius: 15px;
        outline: none;
        resize: none;

        font-size: 18px;

        @media (max-width: 700px) {
          width: 300px;
        }
      }

      .contactTextarea:focus {
        background: #d6d6d6;

        border-radius: 0;
      }

      .contactButton {
        background: #474747;
        width: 250px;
        height: 50px;
        margin: 20px 0 20px 0;

        border: none;
        border-radius: 25px;

        color: #ffffff;
        font-size: 23px;
        font-weight: 700;
        cursor: pointer;
      }

      .contactButton:hover {
        background: #000000;
      }
    }
  }
}

.blogs {
  background: #f5f5f5;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  .blogNamesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
    background: #e3e3e3;


    .blogLink {

      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: 50px;
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 20px;
      flex-direction: row;
      text-decoration: none;

      color:#004d968a;

      &:hover {
        color: #004d96;
      }

      text-decoration: none;

      @media (min-width: 1080px) {
        width: 80%;
        flex-direction: column;
      }
    }
  } 
}

